<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Stravadora</title>
  </head>
  <body>
    <div class="box">
      <div class="content-box">
        <div class="content">
          <p>
            Conecte-se ao Strava para ceder seus dados à pesquisa
          </p>
          <p>
            <a href=""><img src="../static/img/strava_button.png" alt="Connect to Strava" /></a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
