<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Stravadora - Home</title>
  </head>
  <body>
    <div class="box">
      <div class="content-box">
        <div class="content">
          <p>
            Muito obrigado, {{ athlete.firstname }}, por contribuir com nossa pesquisa!<br>
            Seu ID é: {{ athlete.id }}
          </p>
          <p>
            Se quiser, pode <a href="/logout">logar com outra conta</a>.
          </p>
        </div>
        <div class="content">
        {% for activity in activities %}
          <p>
            {{ activity.id }}: {{ activity.start_date }}
          </p>
        {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
